*{
    margin:0px;
    padding:0px;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.shape_face{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.line{
    display:flex;
}

.black{
    width: 50px;
    height: 50px;
    background-color: black
}

.green_default{
    width: 50px;
    height: 50px;
    background-color: #12b612
}

.green_dark{
    width: 50px; 
    height: 50px;
    background-color: #0f800f

}

.green_light{
    width: 50px; 
    height: 50px;
    background-color: #8fe38f
}

