*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(0, 0, 0);
}

.line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main{
    width: 1200px;
    min-height: 700px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.top{
    min-height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    width: 255px;
    min-height: 255px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

img{
    width: 245px;
    height: 240px;
    margin-top: 5px;
}

.linkbox{
    width:65%;
    height: 20px; 
}

.textbox{
    width:20%;
    height: 20px;
}

.sendbutton{
    width:10%;
    height: 25px;
}

.marginleft{
    margin-left: 10px;
}